extends layout

block content

 h1= title
 ul.nav.nav-tabs
        li.active: a(href="/") Home
        li: a(href="/about") About
        li: a(href="www.google.com") Messages

 p.tata Here is my about why don t you show it 
 
 img.coco(src='/images/mark.jpg')
